Listen 443

<VirtualHost *:443>
SSLEngine on
SSLCertificateFile {{ hostcert }}
SSLCertificateKeyFile {{ hostkey }}
SSLProtocol all -SSLv2 -SSLv3
SSLCipherSuite HIGH:!ADH:-kEDH:!kRSA:!MD5:-SHA1:!DSS:ECDHE-RSA-AES128-SHA
SSLHonorCipherOrder on
</VirtualHost>
