{% if inventory_file|basename == 'lxc' %}
LoadModule proxy_module modules/mod_proxy.so
LoadModule lbmethod_byrequests_module modules/mod_lbmethod_byrequests.so
LoadModule proxy_balancer_module modules/mod_proxy_balancer.so
LoadModule proxy_ajp_module modules/mod_proxy_ajp.so

<Location /status-proxy>
    SetHandler balancer-manager
    Require all denied
    Require host 193.144.202.00/24
    Require host 192.168.202.00/24
</Location>
{% else %}
<Location /status-proxy>
    SetHandler balancer-manager
    Order Deny,Allow
    Deny from all
    Allow from 193.144.202.00/24
    Allow from 192.168.202.00/24
</Location>
{% endif %}

ProxyTimeout 600
ProxyPass /status-proxy !

ProxyPassMatch ^/thredds/(.*)/esgcet ajp://localhost:8223
<Proxy "balancer://esgf">
BalancerMember "ajp://localhost:8223/thredds"
</Proxy>
ProxyPassMatch ^(/thredds/dodsC/cordex\.output\..*aggregation\.[0-9]+.*)$ "balancer://esgf$1"

<Proxy "balancer://tds5">
ProxySet stickysession=JSESSIONID
</Proxy>
ProxyPass "/tds5" "balancer://tds5/tds5"
ProxyPassReverse "/tds5" "balancer://tds5/tds5"
ProxyPass "/tds5/restrictedAccess" "balancer://tds5/tds5/restrictedAccess"
ProxyPassReverse "/tds5/restrictedAccess" "balancer://tds5/tds5/restrictedAccess"
# This is needed so the web catalog works
ProxyPass "/thredds/catalog/devel/tds5" "balancer://tds5/tds5"
ProxyPassReverse "/thredds/catalog/devel/tds5" "balancer://tds5/tds5"

<Proxy "balancer://esgf">
ProxySet stickysession=JSESSIONID
</Proxy>
ProxyPassMatch ^/solr(.*)$ balancer://esgf/solr$1
ProxyPassReverse /solr balancer://esgf/solr
ProxyPass /esgf-idp balancer://esgf/esgf-idp
ProxyPassReverse /esgf-idp balancer://esgf/esgf-idp
ProxyPass /esg-search balancer://esgf/esg-search
ProxyPassReverse /esg-search balancer://esgf/esg-search
ProxyPass /esg-orp balancer://esgf/esg-orp
ProxyPassReverse /esg-orp balancer://esgf/esg-orp
ProxyPass /thredds/catalog/esgcet balancer://esgf/thredds/catalog/esgcet
ProxyPassReverse /thredds/catalog/esgcet balancer://esgf/thredds/catalog/esgcet
ProxyPass /thredds/dodsC/esgcet balancer://esgf/thredds/dodsC/esgcet
ProxyPassReverse /thredds/dodsC/esgcet balancer://esgf/thredds/dodsC/esgcet
ProxyPass /thredds/fileServer/esgcet balancer://esgf/thredds/fileServer/esgcet
ProxyPassReverse /thredds/fileServer/esgcet balancer://esgf/thredds/fileServer/esgcet

<Proxy "balancer://udg">
ProxySet stickysession=JSESSIONID
</Proxy>
# restricted access
ProxyPass "/thredds/restrictedAccess" "balancer://udg/thredds/restrictedAccess"
ProxyPassReverse "/thredds/restrictedAccess" "balancer://udg/thredds/restrictedAccess"

# udg admin

# main workers
ProxyPass "/thredds" "balancer://udg/thredds"
ProxyPassReverse "/thredds" "balancer://udg/thredds"
ProxyPass "/udg-tap" "balancer://udg/udg-tap"
ProxyPassReverse "/udg-tap" "balancer://udg/udg-tap"

# Additional reverse proxies
ProxyPass /work http://ui.macc.unican.es/work
ProxyPassReverse /work http://ui.macc.unican.es/work
