ProxyTimeout 600

<Location /status-proxy>
    SetHandler balancer-manager
    Allow from all
</Location>

ProxyPass /status-proxy !

{% for c in clusters -%}
<Proxy "balancer://{{ c.name }}">
ProxySet stickysession=JSESSIONID
</Proxy>

{% for u in c.urls|default([]) -%}
ProxyPass "{{ u }}" "balancer://{{ c.name }}{{ u }}"
ProxyPassReverse "{{ u }}" "balancer://{{ c.name }}{{ u }}"
{% endfor %}

{% endfor %}
