recaptcha.verificationurl = {{ tap.verificationurl }}
recaptcha.privatekey = {{ tap.privatekey }}
recaptcha.publickey = {{ tap.publickey }}
  
tap.baseurl = https://{{ ansible_hostname }}/udg-tap
tap.managers.email = {{ tap.emails }}
tap.noreply = {{ tap.noreply }}

tds.baseurl = https://{{ ansible_hostname }}/tds5/catalog/
