recaptcha.verificationurl = {{ tap.verificationurl }}
recaptcha.privatekey = {{ tap.privatekey }}
recaptcha.publickey = {{ tap.publickey }}
  
tap.baseurl = https://data.meteo.unican.es/udg-tap
tap.managers.email = {{ tap.emails }}
tap.email.noreply = {{ tap.noreply }}

tds.baseurl = https://data.meteo.unican.es/tds5
