recaptcha.verificationurl = {{ secrets.tap.verificationurl }}
recaptcha.privatekey = {{ secrets.tap.privatekey }}
recaptcha.publickey = {{ secrets.tap.publickey }}

tap.baseurl = https://data.meteo.unican.es/udg-tap
tap.managers.email = {{ secrets.tap.emails }}
tap.email.noreply = {{ secrets.tap.noreply }}

tds.baseurl = https://data.meteo.unican.es/tds5
