[installer.properties]
esgf.host={{ ansible_nodename }}
esgf.idp.peer=esgf-node.ipsl.upmc.fr
esgf.index.peer=esgf-node.ipsl.upmc.fr

# Base db info
db.database={{ db.name }}
db.host={{ db.host }}
db.port={{ db.port }}
db.user={{ db.admin.name }}

# Node manager db info
db.protocol=jdbc:postgresql:
db.driver=org.postgresql.Driver

# IDP info
idp.service.endpoint=https://esgf-node.ipsl.upmc.fr/esgf-idp/idp/openidServer.htm
idp.security.attribute.service.endpoint=https://esgf-node.ipsl.upmc.fr/esgf-idp/saml/soap/secure/attributeService.htm
idp.security.registration.service.endpoint=https://esgf-node.ipsl.upmc.fr/esgf-idp/secure/registrationService.htm
short.lived.certificate.server=esgf-node.ipsl.upmc.fr
myproxy.endpoint=esgf-node.ipsl.upmc.fr
myproxy.port=7512

# GridFTP info
gridftp.server.port={{ gridftp.port }}
