<ats_whitelist xmlns="http://www.esgf.org/whitelist">

    <attribute
        type="wheel"
        attributeService="https://{{ ansible_nodename }}/esgf-idp/saml/soap/secure/attributeService.htm"
        description="Administrator Group"
        registrationService="https://{{ ansible_nodename }}/esgf-idp/secure/registrationService.htm" />

</ats_whitelist>
