<azs_whitelist>
    <value>https://esgf-node.ipsl.upmc.fr/esg-orp/saml/soap/secure/authorizationService.htm</value>
    <value>https://{{ ansible_nodename }}/esg-orp/saml/soap/secure/authorizationService.htm</value>
</azs_whitelist>
