<?xml version="1.0" encoding="UTF-8"?>
<netcdf xmlns="http://www.unidata.ucar.edu/namespaces/netcdf/ncml-2.2">
  <attribute name="size" type="int" value="{{ df['size'].sum() }}" />
  <attribute name="size_human" value="{{ df['size'].sum()|filesizeformat }}" />

  <variable name="time" orgName="time">
    <attribute name="units" value="{{ df.time_units[0] }}" />
    <values>
      {{ time_values|join(" ") }}
    </values>
  </variable>

  <aggregation type="union">
  	{% for variable in df.index.unique(level='variables') %}
    <netcdf>
      <aggregation type="joinExisting" dimName="time">
	  {% for file in df.loc[variable].loc[df.loc[variable].index.get_level_values(level='versions')[-1]].itertuples() %}
        <netcdf location="{{ file[0] }}" ncoords="{{ file.time_ncoords|int }}" />
	  {% endfor %}
      </aggregation>
    </netcdf>
  	{% endfor %}
    {% for variable in fxs.index.unique(level='variables') %}
    <netcdf location="{{ fxs.loc[variable].iloc[-1].name[1] }}" />
    {% endfor %}
  </aggregation>
</netcdf>
